/* General Styles */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.navbar {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu.active {
  display: block;
}

.nav-link {
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  opacity: 0.8;
}

/* Auth Buttons */
.auth-buttons{
  display: flex;
}
.auth-buttons .btn {
  /* padding: 10px 15px; */
  background: none;
  white-space: nowrap;
  border: none;
  border-radius: 25px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.auth-buttons .btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sign-in {
  margin-right: 10px;
}

.sign-up {
  border: 2px solid currentColor;
  background-color: transparent;
}

/* Profile Dropdown */
.profile-dropdown {
  position: relative;
}

.profile-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--navbar);
  color: var(--navbar-text);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a,
.dropdown-menu .logout {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: var(--navbar-text);
  cursor: pointer;
}

.dropdown-menu a:hover,
.dropdown-menu .logout:hover {
  background-color: var(--background);
  color: var(--background-text);
}

/* Hamburger Menu */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: inherit;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--navbar);
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
  .auth-buttons{
    flex-direction: column;
  }
}



/* Theme Selector */
.theme-selector {
  position: absolute;
  bottom: 15px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme-selector select {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}
