.mobileViewContainer {
  display: none; 
}

@media(max-width: 330px) {
  .mobileViewContainer {
    display: flex ; 
    align-items: center ;
    justify-content: center ;
    background-color: green ; 
    color: #fff!important;
    width: 100vw ; 
    height: 100vh ; 
    position: fixed ;
    top: 0 ;
    left: 0 ;
    z-index: 9999 ;
    overflow: hidden ;
    animation: fadeIn 0.5s ease-in-out infinite;
  }

  .content {
    padding: 20px ;
    text-align: center ;
  }

  .iconContainer {
    margin-bottom: 20px ;
  }

  h1 {
    color: #721c24 ; 
    font-size: 24px ;
    margin-bottom: 10px ;
  }

  p {
    color: #fff ; 
    font-size: 16px ;
    line-height: 1.5 ;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
